#dashboard {
    position: absolute;
    left: 800px;
    height: 600px;
    width: 300px;
    z-index: 10000;
}

body {
    width: 1100px;
    margin: 15px auto;
    position: relative;
    background-color: #111;
}